In [1]:
import pandas as pd

In [2]:
import datetime as dt

In [5]:
s=dt.date(2010,1,20)

In [8]:
s.year
s.month
s.day

20

In [9]:

dt.datetime(2010,1,10,17,13,57)

datetime.datetime(2010, 1, 10, 17, 13, 57)

In [10]:

str(dt.datetime(2010,1,10,17,13,57))

'2010-01-10 17:13:57'

In [12]:
t=dt.datetime(2010,1,10,17,13,57)

In [20]:
t.year
t.month
t.day
t.hour
t.minute
t.second

57

In [28]:
pd.Timestamp("2015-03-31")
pd.Timestamp("2015/03/31")
pd.Timestamp("2013,11,04")
pd.Timestamp("1/1/2025")
pd.Timestamp("12/19/2015")
pd.Timestamp("2015-03-31 08:35:11")
pd.Timestamp("2015-03-28 6:13:29")

Timestamp('2015-03-28 06:13:29')

In [30]:
pd.Timestamp(dt.date(2015,1,1))

Timestamp('2015-01-01 00:00:00')

In [35]:
pd.Timestamp(dt.datetime(2015,1,1,4,12,57))

Timestamp('2015-01-01 04:12:57')

In [39]:
dates=["2010/01/02","2016/04/12","2009/09/07"]
pd.DatetimeIndex(dates)

DatetimeIndex(['2010-01-02', '2016-04-12', '2009-09-07'], dtype='datetime64[ns]', freq=None)

In [44]:
dates=[dt.date(2016,1,11),dt.date(2016,1,1),dt.date(2016,2,17)]
dtIndex=pd.DatetimeIndex(dates)

In [48]:
values=[100,200,300]
pd.Series(data=values,index=dtIndex)

2016-01-11    100
2016-01-01    200
2016-02-17    300
dtype: int64

In [20]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015,1,1))
pd.to_datetime(dt.datetime(2015,1,1,14,35,16))
pd.to_datetime("2015-01-03")

Timestamp('2015-01-03 00:00:00')

In [19]:
dates = ["2015-01-03", "2014/02/08", "2016", "july 4th,1996"]
converted_dates = pd.to_datetime(dates, errors='coerce', format='%Y-%m-%d')
converted_dates

DatetimeIndex(['2015-01-03', 'NaT', 'NaT', 'NaT'], dtype='datetime64[ns]', freq=None)

In [21]:
times=pd.Series(["2015-01-03","2014,02,08","2016","July 4th 1996"])
times

0       2015-01-03
1       2014,02,08
2             2016
3    July 4th 1996
dtype: object

In [23]:
pd.to_datetime(times,errors="coerce")

0   2015-01-03
1          NaT
2          NaT
3          NaT
dtype: datetime64[ns]

In [26]:
pd.to_datetime([1452236987,147896325,132569874],unit="s")

DatetimeIndex(['2016-01-08 07:09:47', '1974-09-08 18:18:45',
               '1974-03-15 08:57:54'],
              dtype='datetime64[ns]', freq=None)

In [33]:
times=pd.date_range(start="2016-01-01",end="2016-01-10",freq="D")

In [34]:
type(times)

pandas.core.indexes.datetimes.DatetimeIndex

In [35]:
 type(times[0])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="2D")

DatetimeIndex(['2016-01-01', '2016-01-03', '2016-01-05', '2016-01-07',
               '2016-01-09'],
              dtype='datetime64[ns]', freq='2D')

In [37]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="B")

DatetimeIndex(['2016-01-01', '2016-01-04', '2016-01-05', '2016-01-06',
               '2016-01-07', '2016-01-08'],
              dtype='datetime64[ns]', freq='B')

In [38]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W-FRI")

DatetimeIndex(['2016-01-01', '2016-01-08'], dtype='datetime64[ns]', freq='W-FRI')

In [39]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="W")

DatetimeIndex(['2016-01-03', '2016-01-10'], dtype='datetime64[ns]', freq='W-SUN')

In [41]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 01:00:00',
               '2016-01-01 02:00:00', '2016-01-01 03:00:00',
               '2016-01-01 04:00:00', '2016-01-01 05:00:00',
               '2016-01-01 06:00:00', '2016-01-01 07:00:00',
               '2016-01-01 08:00:00', '2016-01-01 09:00:00',
               ...
               '2016-01-09 15:00:00', '2016-01-09 16:00:00',
               '2016-01-09 17:00:00', '2016-01-09 18:00:00',
               '2016-01-09 19:00:00', '2016-01-09 20:00:00',
               '2016-01-09 21:00:00', '2016-01-09 22:00:00',
               '2016-01-09 23:00:00', '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', length=217, freq='H')

In [42]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="6H")

DatetimeIndex(['2016-01-01 00:00:00', '2016-01-01 06:00:00',
               '2016-01-01 12:00:00', '2016-01-01 18:00:00',
               '2016-01-02 00:00:00', '2016-01-02 06:00:00',
               '2016-01-02 12:00:00', '2016-01-02 18:00:00',
               '2016-01-03 00:00:00', '2016-01-03 06:00:00',
               '2016-01-03 12:00:00', '2016-01-03 18:00:00',
               '2016-01-04 00:00:00', '2016-01-04 06:00:00',
               '2016-01-04 12:00:00', '2016-01-04 18:00:00',
               '2016-01-05 00:00:00', '2016-01-05 06:00:00',
               '2016-01-05 12:00:00', '2016-01-05 18:00:00',
               '2016-01-06 00:00:00', '2016-01-06 06:00:00',
               '2016-01-06 12:00:00', '2016-01-06 18:00:00',
               '2016-01-07 00:00:00', '2016-01-07 06:00:00',
               '2016-01-07 12:00:00', '2016-01-07 18:00:00',
               '2016-01-08 00:00:00', '2016-01-08 06:00:00',
               '2016-01-08 12:00:00', '2016-01-08 18:00:00',
               '2016-01-09 00:00:00', '2016-01-09 06:00:00',
               '2016-01-09 12:00:00', '2016-01-09 18:00:00',
               '2016-01-10 00:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [43]:
pd.date_range(start="2016-01-01",end="2016-01-10",freq="M")

DatetimeIndex([], dtype='datetime64[ns]', freq='M')

In [45]:
pd.date_range(start="2016-01-01",end="2050-01-10",freq="A")

DatetimeIndex(['2016-12-31', '2017-12-31', '2018-12-31', '2019-12-31',
               '2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31',
               '2032-12-31', '2033-12-31', '2034-12-31', '2035-12-31',
               '2036-12-31', '2037-12-31', '2038-12-31', '2039-12-31',
               '2040-12-31', '2041-12-31', '2042-12-31', '2043-12-31',
               '2044-12-31', '2045-12-31', '2046-12-31', '2047-12-31',
               '2048-12-31', '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [47]:
pd.date_range(start="2016-01-01",end="2016-12-10",freq="MS")

DatetimeIndex(['2016-01-01', '2016-02-01', '2016-03-01', '2016-04-01',
               '2016-05-01', '2016-06-01', '2016-07-01', '2016-08-01',
               '2016-09-01', '2016-10-01', '2016-11-01', '2016-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [48]:
pd.date_range(start="2012-09-09",periods=50,freq="B")

DatetimeIndex(['2012-09-10', '2012-09-11', '2012-09-12', '2012-09-13',
               '2012-09-14', '2012-09-17', '2012-09-18', '2012-09-19',
               '2012-09-20', '2012-09-21', '2012-09-24', '2012-09-25',
               '2012-09-26', '2012-09-27', '2012-09-28', '2012-10-01',
               '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
               '2012-10-08', '2012-10-09', '2012-10-10', '2012-10-11',
               '2012-10-12', '2012-10-15', '2012-10-16', '2012-10-17',
               '2012-10-18', '2012-10-19', '2012-10-22', '2012-10-23',
               '2012-10-24', '2012-10-25', '2012-10-26', '2012-10-29',
               '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
               '2012-11-05', '2012-11-06', '2012-11-07', '2012-11-08',
               '2012-11-09', '2012-11-12', '2012-11-13', '2012-11-14',
               '2012-11-15', '2012-11-16'],
              dtype='datetime64[ns]', freq='B')

In [49]:
pd.date_range(end="1999-12-31",periods=100,freq="7H")

DatetimeIndex(['1999-12-02 03:00:00', '1999-12-02 10:00:00',
               '1999-12-02 17:00:00', '1999-12-03 00:00:00',
               '1999-12-03 07:00:00', '1999-12-03 14:00:00',
               '1999-12-03 21:00:00', '1999-12-04 04:00:00',
               '1999-12-04 11:00:00', '1999-12-04 18:00:00',
               '1999-12-05 01:00:00', '1999-12-05 08:00:00',
               '1999-12-05 15:00:00', '1999-12-05 22:00:00',
               '1999-12-06 05:00:00', '1999-12-06 12:00:00',
               '1999-12-06 19:00:00', '1999-12-07 02:00:00',
               '1999-12-07 09:00:00', '1999-12-07 16:00:00',
               '1999-12-07 23:00:00', '1999-12-08 06:00:00',
               '1999-12-08 13:00:00', '1999-12-08 20:00:00',
               '1999-12-09 03:00:00', '1999-12-09 10:00:00',
               '1999-12-09 17:00:00', '1999-12-10 00:00:00',
               '1999-12-10 07:00:00', '1999-12-10 14:00:00',
               '1999-12-10 21:00:00', '1999-12-11 04:00:00',
               '1999-12-11 11:00:00', '1999-12-11 18:00:00',
               '1999-12-12 01:00:00', '1999-12-12 08:00:00',
               '1999-12-12 15:00:00', '1999-12-12 22:00:00',
               '1999-12-13 05:00:00', '1999-12-13 12:00:00',
               '1999-12-13 19:00:00', '1999-12-14 02:00:00',
               '1999-12-14 09:00:00', '1999-12-14 16:00:00',
               '1999-12-14 23:00:00', '1999-12-15 06:00:00',
               '1999-12-15 13:00:00', '1999-12-15 20:00:00',
               '1999-12-16 03:00:00', '1999-12-16 10:00:00',
               '1999-12-16 17:00:00', '1999-12-17 00:00:00',
               '1999-12-17 07:00:00', '1999-12-17 14:00:00',
               '1999-12-17 21:00:00', '1999-12-18 04:00:00',
               '1999-12-18 11:00:00', '1999-12-18 18:00:00',
               '1999-12-19 01:00:00', '1999-12-19 08:00:00',
               '1999-12-19 15:00:00', '1999-12-19 22:00:00',
               '1999-12-20 05:00:00', '1999-12-20 12:00:00',
               '1999-12-20 19:00:00', '1999-12-21 02:00:00',
               '1999-12-21 09:00:00', '1999-12-21 16:00:00',
               '1999-12-21 23:00:00', '1999-12-22 06:00:00',
               '1999-12-22 13:00:00', '1999-12-22 20:00:00',
               '1999-12-23 03:00:00', '1999-12-23 10:00:00',
               '1999-12-23 17:00:00', '1999-12-24 00:00:00',
               '1999-12-24 07:00:00', '1999-12-24 14:00:00',
               '1999-12-24 21:00:00', '1999-12-25 04:00:00',
               '1999-12-25 11:00:00', '1999-12-25 18:00:00',
               '1999-12-26 01:00:00', '1999-12-26 08:00:00',
               '1999-12-26 15:00:00', '1999-12-26 22:00:00',
               '1999-12-27 05:00:00', '1999-12-27 12:00:00',
               '1999-12-27 19:00:00', '1999-12-28 02:00:00',
               '1999-12-28 09:00:00', '1999-12-28 16:00:00',
               '1999-12-28 23:00:00', '1999-12-29 06:00:00',
               '1999-12-29 13:00:00', '1999-12-29 20:00:00',
               '1999-12-30 03:00:00', '1999-12-30 10:00:00',
               '1999-12-30 17:00:00', '1999-12-31 00:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [6]:
date=pd.date_range(start="2000-01-01",end="2010-12-31",freq="24D")

In [7]:
s=pd.Series(date)

In [57]:
s.head(3)

0   2000-01-01
1   2000-01-25
2   2000-02-18
dtype: datetime64[ns]

In [16]:
mask=s.dt.is_quarter_start
s[mask]

0     2000-01-01
19    2001-04-01
38    2002-07-01
137   2009-01-01
dtype: datetime64[ns]

In [16]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [18]:
import yfinance as yf

# Define the ticker symbol and date range
ticker_symbol = 'MSFT'
start_date = '2022-01-01'
end_date = '2022-12-31'

# Fetch the data using yfinance
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Print the fetched data

[*********************100%%**********************]  1 of 1 completed

In [19]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,310.114655,40054300
2022-01-06,313.149994,318.700012,311.489990,313.880005,307.664154,39646100
2022-01-07,314.149994,316.500000,310.089996,314.040009,307.821014,32720000
...,...,...,...,...,...,...
2022-12-23,236.110001,238.869995,233.940002,238.729996,236.195007,21207000
2022-12-27,238.699997,238.929993,235.830002,236.960007,234.443817,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,232.039627,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,238.450821,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,237.273453,21938500

In [21]:
data.values

array([[3.35350006e+02, 3.38000000e+02, 3.29779999e+02, 3.34750000e+02,
        3.28120880e+02, 2.88651000e+07],
       [3.34829987e+02, 3.35200012e+02, 3.26119995e+02, 3.29010010e+02,
        3.22494568e+02, 3.26743000e+07],
       [3.25859985e+02, 3.26070007e+02, 3.15980011e+02, 3.16380005e+02,
        3.10114655e+02, 4.00543000e+07],
       ...,
       [2.36889999e+02, 2.39720001e+02, 2.34169998e+02, 2.34529999e+02,
        2.32039627e+02, 1.74571000e+07],
       [2.35649994e+02, 2.41919998e+02, 2.35649994e+02, 2.41009995e+02,
        2.38450821e+02, 1.97707000e+07],
       [2.38210007e+02, 2.39960007e+02, 2.36660004e+02, 2.39820007e+02,
        2.37273453e+02, 2.19385000e+07]])

In [22]:
data.columns

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [24]:
data.index

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14',
               ...
               '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
               '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
               '2022-12-29', '2022-12-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [25]:
data.axes

[DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
                '2022-01-07', '2022-01-10', '2022-01-11', '2022-01-12',
                '2022-01-13', '2022-01-14',
                ...
                '2022-12-16', '2022-12-19', '2022-12-20', '2022-12-21',
                '2022-12-22', '2022-12-23', '2022-12-27', '2022-12-28',
                '2022-12-29', '2022-12-30'],
               dtype='datetime64[ns]', name='Date', length=251, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')]

In [27]:
data.loc["2022-01-03"]

Open         3.353500e+02
High         3.380000e+02
Low          3.297800e+02
Close        3.347500e+02
Adj Close    3.281209e+02
Volume       2.886510e+07
Name: 2022-01-03 00:00:00, dtype: float64

In [29]:
data.loc[pd.Timestamp("2022-01-03	")]

Open         3.353500e+02
High         3.380000e+02
Low          3.297800e+02
Close        3.347500e+02
Adj Close    3.281209e+02
Volume       2.886510e+07
Name: 2022-01-03 00:00:00, dtype: float64

In [30]:
data.iloc[0]

Open         3.353500e+02
High         3.380000e+02
Low          3.297800e+02
Close        3.347500e+02
Adj Close    3.281209e+02
Volume       2.886510e+07
Name: 2022-01-03 00:00:00, dtype: float64

In [32]:
data.loc[["2022-01-03","2022-01-03"]]

                  Open   High         Low   Close  Adj Close    Volume
Date
2022-01-03  335.350006  338.0  329.779999  334.75  328.12088  28865100
2022-01-03  335.350006  338.0  329.779999  334.75  328.12088  28865100

In [34]:
data.loc[[pd.Timestamp("2022-01-03"),pd.Timestamp("2022-01-03")]]

                  Open   High         Low   Close  Adj Close    Volume
Date
2022-01-03  335.350006  338.0  329.779999  334.75  328.12088  28865100
2022-01-03  335.350006  338.0  329.779999  334.75  328.12088  28865100

In [36]:
data.truncate(before="2022-01-03",after="2022-12-30")

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,310.114655,40054300
2022-01-06,313.149994,318.700012,311.489990,313.880005,307.664154,39646100
2022-01-07,314.149994,316.500000,310.089996,314.040009,307.821014,32720000
...,...,...,...,...,...,...
2022-12-23,236.110001,238.869995,233.940002,238.729996,236.195007,21207000
2022-12-27,238.699997,238.929993,235.830002,236.960007,234.443817,16688600
2022-12-28,236.889999,239.720001,234.169998,234.529999,232.039627,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,238.450821,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,237.273453,21938500

In [40]:
birth=pd.date_range(start="2022-01-03",end="2022-12-30",freq=pd.DateOffset(years=1))

In [45]:
b_s=data.index.isin(birth)

In [46]:
data[b_s]

                  Open   High         Low   Close  Adj Close    Volume
Date
2022-01-03  335.350006  338.0  329.779999  334.75  328.12088  28865100

In [47]:
import yfinance as yf

# Define the ticker symbol and date range
ticker_symbol = 'MSFT'
start_date = '2022-01-01'
end_date = '2022-12-31'

# Fetch the data using yfinance
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Print the fetched data

[*********************100%%**********************]  1 of 1 completed

In [48]:
data.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,310.114655,40054300

In [55]:
someday=data.index[200]
someday

Timestamp('2022-10-19 00:00:00')

In [65]:
someday.month
someday.week
someday.is_month_start
someday.is_quarter_start
someday.is_quarter_end
someday.day

19

In [67]:
someday.month_name()
someday.day_name()

'Wednesday'

In [70]:
data.index.day_name()

Index(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Monday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       ...
       'Friday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='object', name='Date', length=251)

In [71]:
data.insert(0,"Day of week",data.index.day_name())

In [72]:
data

,Day of week,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2022-01-03,Monday,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,Tuesday,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,Wednesday,325.859985,326.070007,315.980011,316.380005,310.114655,40054300
2022-01-06,Thursday,313.149994,318.700012,311.489990,313.880005,307.664154,39646100
2022-01-07,Friday,314.149994,316.500000,310.089996,314.040009,307.821014,32720000
...,...,...,...,...,...,...,...
2022-12-23,Friday,236.110001,238.869995,233.940002,238.729996,236.195007,21207000
2022-12-27,Tuesday,238.699997,238.929993,235.830002,236.960007,234.443817,16688600
2022-12-28,Wednesday,236.889999,239.720001,234.169998,234.529999,232.039627,17457100
2022-12-29,Thursday,235.649994,241.919998,235.649994,241.009995,238.450821,19770700
2022-12-30,Friday,238.210007,239.960007,236.660004,239.820007,237.273453,21938500

In [83]:
data.insert(1,"is  month",data.index.day_name())

In [84]:
data

,Day of week,is month,is start of month,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,,,
2022-01-03,Monday,Monday,False,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,Tuesday,Tuesday,False,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,Wednesday,Wednesday,False,325.859985,326.070007,315.980011,316.380005,310.114655,40054300
2022-01-06,Thursday,Thursday,False,313.149994,318.700012,311.489990,313.880005,307.664154,39646100
2022-01-07,Friday,Friday,False,314.149994,316.500000,310.089996,314.040009,307.821014,32720000
...,...,...,...,...,...,...,...,...,...
2022-12-23,Friday,Friday,False,236.110001,238.869995,233.940002,238.729996,236.195007,21207000
2022-12-27,Tuesday,Tuesday,False,238.699997,238.929993,235.830002,236.960007,234.443817,16688600
2022-12-28,Wednesday,Wednesday,False,236.889999,239.720001,234.169998,234.529999,232.039627,17457100
2022-12-29,Thursday,Thursday,False,235.649994,241.919998,235.649994,241.009995,238.450821,19770700
2022-12-30,Friday,Friday,False,238.210007,239.960007,236.660004,239.820007,237.273453,21938500

In [121]:
data.index+pd.DateOffset(days=5)
data.index+pd.DateOffset(days=2)

DatetimeIndex(['2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-12', '2022-01-13', '2022-01-14',
               '2022-01-15', '2022-01-16',
               ...
               '2022-12-18', '2022-12-21', '2022-12-22', '2022-12-23',
               '2022-12-24', '2022-12-25', '2022-12-29', '2022-12-30',
               '2022-12-31', '2023-01-01'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [112]:
data.index+pd.DateOffset(weeks=5)
data.index+pd.DateOffset(weeks=2)

DatetimeIndex(['2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-24', '2022-01-25', '2022-01-26',
               '2022-01-27', '2022-01-28',
               ...
               '2022-12-30', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-10', '2023-01-11',
               '2023-01-12', '2023-01-13'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [92]:
data.index+pd.DateOffset(months=5)

DatetimeIndex(['2022-06-03', '2022-06-04', '2022-06-05', '2022-06-06',
               '2022-06-07', '2022-06-10', '2022-06-11', '2022-06-12',
               '2022-06-13', '2022-06-14',
               ...
               '2023-05-16', '2023-05-19', '2023-05-20', '2023-05-21',
               '2023-05-22', '2023-05-23', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [94]:
data.index+pd.DateOffset(years=2)

DatetimeIndex(['2024-01-03', '2024-01-04', '2024-01-05', '2024-01-06',
               '2024-01-07', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14',
               ...
               '2024-12-16', '2024-12-19', '2024-12-20', '2024-12-21',
               '2024-12-22', '2024-12-23', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [97]:
data.index+pd.DateOffset(years=1,months=2,days=3,hours=6,minutes=45,seconds=12)

DatetimeIndex(['2023-03-06 06:45:12', '2023-03-07 06:45:12',
               '2023-03-08 06:45:12', '2023-03-09 06:45:12',
               '2023-03-10 06:45:12', '2023-03-13 06:45:12',
               '2023-03-14 06:45:12', '2023-03-15 06:45:12',
               '2023-03-16 06:45:12', '2023-03-17 06:45:12',
               ...
               '2024-02-19 06:45:12', '2024-02-22 06:45:12',
               '2024-02-23 06:45:12', '2024-02-24 06:45:12',
               '2024-02-25 06:45:12', '2024-02-26 06:45:12',
               '2024-03-01 06:45:12', '2024-03-02 06:45:12',
               '2024-03-03 06:45:12', '2024-03-03 06:45:12'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [110]:
import yfinance as yf

# Define the ticker symbol and date range
ticker_symbol = 'MSFT'
start_date = '2022-01-01'
end_date = '2022-12-31'

# Fetch the data using yfinance
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Print the fetched data

[*********************100%%**********************]  1 of 1 completed

In [111]:
data.tail(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-12-28,236.889999,239.720001,234.169998,234.529999,232.039627,17457100
2022-12-29,235.649994,241.919998,235.649994,241.009995,238.450821,19770700
2022-12-30,238.210007,239.960007,236.660004,239.820007,237.273453,21938500

In [99]:
data.head(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,310.114655,40054300

In [114]:
data.index+pd.tseries.offsets.MonthEnd()
data.index-pd.tseries.offsets.MonthEnd()

DatetimeIndex(['2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31',
               ...
               '2022-11-30', '2022-11-30', '2022-11-30', '2022-11-30',
               '2022-11-30', '2022-11-30', '2022-11-30', '2022-11-30',
               '2022-11-30', '2022-11-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [118]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,335.350006,338.000000,329.779999,334.750000,328.120880,28865100
2022-01-04,334.829987,335.200012,326.119995,329.010010,322.494568,32674300
2022-01-05,325.859985,326.070007,315.980011,316.380005,310.114655,40054300
2022-01-06,313.149994,318.700012,311.489990,313.880005,307.664154,39646100
2022-01-07,314.149994,316.500000,310.089996,314.040009,307.821014,32720000

In [116]:
from pandas.tseries import offsets

In [117]:
data.index+offsets.MonthEnd()

DatetimeIndex(['2022-01-31', '2022-01-31', '2022-01-31', '2022-01-31',
               '2022-01-31', '2022-01-31', '2022-01-31', '2022-01-31',
               '2022-01-31', '2022-01-31',
               ...
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31', '2022-12-31', '2022-12-31',
               '2022-12-31', '2022-12-31'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [123]:
data.index+offsets.BMonthEnd()
data.index-offsets.BMonthEnd()

DatetimeIndex(['2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31', '2021-12-31', '2021-12-31',
               '2021-12-31', '2021-12-31',
               ...
               '2022-11-30', '2022-11-30', '2022-11-30', '2022-11-30',
               '2022-11-30', '2022-11-30', '2022-11-30', '2022-11-30',
               '2022-11-30', '2022-11-30'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [126]:
data.index+offsets.YearEnd()
data.index+offsets.YearBegin()

DatetimeIndex(['2023-01-01', '2023-01-01', '2023-01-01', '2023-01-01',
               '2023-01-01', '2023-01-01', '2023-01-01', '2023-01-01',
               '2023-01-01', '2023-01-01',
               ...
               '2023-01-01', '2023-01-01', '2023-01-01', '2023-01-01',
               '2023-01-01', '2023-01-01', '2023-01-01', '2023-01-01',
               '2023-01-01', '2023-01-01'],
              dtype='datetime64[ns]', name='Date', length=251, freq=None)

In [132]:
time_a=pd.Timestamp("2020-01-03 ")
time_b=pd.Timestamp("2020-01-07 ")

In [133]:
time_a-time_b

Timedelta('-4 days +00:00:00')

In [140]:
pd.Timedelta(days=3)
pd.Timedelta(days=3 ,minutes=45)
pd.Timedelta(weeks=3,days=8,hours=6,minutes=55,seconds=14)

Timedelta('29 days 06:55:14')

In [141]:
pd.Timedelta("14 days 6 hours 12 minutes 45 seconds")

Timedelta('14 days 06:12:45')

In [145]:
ship=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])

C:\Users\Muhammad Shahbaz\AppData\Local\Temp\ipykernel_14956\3737452622.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ship=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])
C:\Users\Muhammad Shahbaz\AppData\Local\Temp\ipykernel_14956\3737452622.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ship=pd.read_csv("ecommerce.csv",index_col="ID",parse_dates=["order_date","delivery_date"])

In [148]:
ship.head(3)

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26

In [151]:
ship["Delivery Time"]=ship["delivery_date"]-ship["order_date"]

In [154]:
ship.head(3)

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days

In [158]:
ship["twice as long"]=ship["delivery_date"]+ship["Delivery Time"]

In [159]:
ship.head()

   order_date delivery_date Delivery Time twice as long
ID
1  1998-05-24    1999-02-05      257 days    1999-10-20
2  1992-04-22    1998-03-06     2144 days    2004-01-18
4  1991-02-10    1992-08-26      563 days    1994-03-12
5  1992-07-21    1997-11-20     1948 days    2003-03-22
7  1993-09-02    1998-06-10     1742 days    2003-03-18

In [161]:
ship.dtypes

order_date        datetime64[ns]
delivery_date     datetime64[ns]
Delivery Time    timedelta64[ns]
twice as long     datetime64[ns]
dtype: object

In [163]:
mask=ship["Delivery Time"]>"365 days"
ship[mask]

    order_date delivery_date Delivery Time twice as long
ID
2   1992-04-22    1998-03-06     2144 days    2004-01-18
4   1991-02-10    1992-08-26      563 days    1994-03-12
5   1992-07-21    1997-11-20     1948 days    2003-03-22
7   1993-09-02    1998-06-10     1742 days    2003-03-18
9   1990-01-25    1994-10-02     1711 days    1999-06-09
..         ...           ...           ...           ...
986 1990-12-10    1992-12-16      737 days    1994-12-23
990 1991-06-24    1996-02-02     1684 days    2000-09-12
991 1991-09-09    1998-03-30     2394 days    2004-10-18
993 1990-11-16    1998-04-27     2719 days    2005-10-06
997 1990-01-04    1991-10-03      637 days    1993-07-01

[394 rows x 4 columns]